<!DOCTYPE html>
<html layout:decorate = "~{layouts/layout1}"
	  xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th = "http://www.thymeleaf.org">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment = "css">
	<style>
        .error {
            color: #bd2130;
        }

	</style>
</th:block>

<div layout:fragment = "content">

	<form action = "/members/login" method = "post" role = "form">
		<div class = "form-group">
			<label th:for = "email">이메일주소</label>
			<input class = "form-control" name = "email" placeholder = "이메일을 입력해주세요" type = "email">
		</div>
		<div class = "form-group">
			<label th:for = "password">비밀번호</label>
			<input class = "form-control" id = "password" name = "password" placeholder = "비밀번호 입력" type = "password">
		</div>
		<p class = "error" th:if = "${loginErrorMsg}" th:text = "${loginErrorMsg}"></p>
		<button class = "btn btn-primary">로그인</button>
		<button class = "btn btn-primary" onClick = "location.href='/members/new'" type = "button">회원가입</button>
		<input th:name = "${_csrf.parameterName}" th:value = "${_csrf.token}" type = "hidden">
	</form>

</div>

</html>