<!DOCTYPE html>
<html layout:decorate="~{layouts/layout1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>

<div layout:fragment="content">

    <div>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>수정일</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody id="tbody">

            <tr th:each="posts : ${postsList}">
                <td th:text="${posts.id}"></td>
                <td><a th:href="@{/posts/{id}(id=${posts.id})}" th:text="${posts.title}"></a></td>
                <td th:text="${posts.author}"></td>
                <td th:text="${posts.modifiedDate}"></td>
                <td>
                    <a th:href="@{/posts/update/{id}(id=${posts.id})}">수정하기</a>
                </td>
                <td>
                    <!--                    <a th:href="@{/posts/delete/{id}(id=${posts.id})}">글 삭제</a>-->
                    <a th:href="@{/posts/delete(id=${posts.id})}">글삭제</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>


    <h1>메인페이지입니다.</h1>

</div>
</html>